/* Three Words Stylesheet */

/* IMPORT RESET */
@import 'sass/reset';

/* IMPORT Grid, Colors, Variables */
@import 'sass/fonts';
@import 'sass/colors';
@import 'sass/typography';
@import 'sass/grid';
@import 'sass/flex';
@import 'sass/mixins';

/* End Special Bits */

html {
	font-size:135%;
	margin:0;
	padding:0;
}

body {
	margin:0;
	padding:0;
	font-family: $sans;
	color: $black;
	background:$white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header {
    height: 3rem;
    background: #252529;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.header__logo {
	width:7rem;
}
article {
	line-height: 20em;
	text-align: center;
	background: #666;
}

aside {
	line-height: 20em;
	text-align: center;
	background: #999;
}

a {
	text-decoration:none;
	cursor:pointer;
	color:$yellow;
}

input {
	padding:0 8px;
	font-weight:700;
	border:none;
	max-width:100%;
}
ol {
	list-style-type:initial;
}

blockquote {
	border-left: 2rem solid $yellow;
	font-size:1.85rem;
	margin: 2rem 4rem;
	padding: 0 1rem;
	font-weight:bold;
	font-style:italic;
	color:$gray;
}
td {
	display:block;
}

.clear {
	clear:both;
}

input, textarea {
	// This caused radio buttons not to show
//  -webkit-appearance: none;
  -webkit-border-radius: 0;
  @include transition($ease);
}
:focus {
	outline:none;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s ease-in-out; 
  opacity: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.success * input{
	border-color:$green !important;
	&.button {
		background-color:$green !important;

	}
}

.error * input {
	border-color:$red !important;
	&.button {
		background-color:$red !important;

	}
}

textarea:focus, input:focus{
    outline: 0;
}

img {
	display:block;
	max-width:100%;
	height:auto;
}

.serif {
	font-family: $serif;
}

.subtitle {
	opacity: .6;
	font-style: italic;
	font-size:1.5rem;
}

// Homepage

.homepage-hero {
	width:100%;
}
.hero-yellow {
	background: $yellow;
	color:$black;
}
.hero-left {
	text-align:right;
	padding:5rem 3rem;
	font-size:2rem;
}
.hero-left h1 {
	font-weight:bold;
	font-size:5rem;
}
.hero-right {
	padding:5rem 3rem 1rem;

}

// Blocks

.block-copy {
	max-width: 42rem;
}

.row-dark {
	background: $black;
	color: $white;
}
.row-dark h1, .row-dark h2, .row-dark h3, .row-dark h4, .row-dark h5, .row-dark h6 {
	color: $white;
}

// Extra Vertical Margins

.margin--big {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.padding-sm {
	padding-top:1rem;
	padding-bottom:2rem;
}
.row-end {
	margin-bottom:4rem;
}

// Massive

.massive {
	font-size:6rem;
	margin:1rem 0 0;
}

// Endbar

.endbar {
	width: 100%;
	height: 2rem;
	background: $yellow;
}

.endbar-right {
	align-self: flex-end;
}

// Buttons

.button {
	font-size:1rem;
	padding:1rem;
	font-weight:bold;
	@include transition($fast);
	position:relative;
}
.button:after {
	font-size:1.15rem;
	content: ' »';
	opacity:0;
	position:absolute;
	@include transition($fast);
}
.button--yellow {
	background: $yellow;
	color: $black;
}
.button--yellow a {
	color:$black;
}

.button:hover {
	padding-right: 2rem;
	font-size:1.15rem;
}
.button:hover:after {
	opacity: 1;
    margin-left: 0.65rem;
}

.button:active {
	background:$green;
	color:$white;
}
.button:active:after {
	color:$white;
}

// Import Media Queries

@import 'sass/mobile';
