@charset "UTF-8";
/* IMPORT RESET */
/* IMPORT All The Things */
/* Grid */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Lora:400,600");
.yellow { color: #f7dd38; }

.bg--yellow { background: #f7dd38; }

* { box-sizing: border-box; }

::-moz-selection { /* Code for Firefox */ color: #fcfcfd; background: #5bcaeb; }

::selection { color: #fcfcfd; background: #5bcaeb; }

html { font-family: "Source Sans Pro", sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; font-size: 120%; margin: 0; padding: 0; }

body { margin: 0; padding: 0; font-family: "Source Sans Pro", sans-serif; color: #252529; background: #fcfcfd; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

ol { list-style-type: initial; }

ul { list-style: none; padding: 0; }

li { line-height: 150%; padding-left: 1rem; }

li:before { content: "•"; color: #f7dd38; margin-right: 0.35rem; }

input, button { font-family: "Source Sans Pro", sans-serif; }

input, textarea { -webkit-border-radius: 0; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; -ms-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s; }

:focus { outline: none; }

[placeholder]:focus::-webkit-input-placeholder { transition: opacity 0.5s ease-in-out; opacity: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

textarea:focus, input:focus { outline: 0; }

img { max-width: 100%; vertical-align: middle; }

.header { background: #252529; width: 100%; display: flex; align-items: center; padding: 0.55rem 1rem; position: fixed; top: 0; left: 0; z-index: 888; }

.header__logo { flex-grow: 1; }

.logo__image { width: 7rem; }

.page-header { margin: 40px 0; font-size: 2rem; border-bottom: 22px solid #f7dd38; }

a { cursor: pointer; color: #ea9234; text-decoration: none; font-weight: bold; position: relative; -moz-transition: all 0.2s; -o-transition: all 0.2s; -ms-transition: all 0.2s; -webkit-transition: all 0.2s; transition: all 0.2s; }

a:after { content: ''; position: absolute; width: 0; height: 2px; z-index: -1; left: 0; bottom: 2px; background: #f7dd38; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; -ms-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s; }

a:hover:after { width: 100%; }

.serif { font-family: "Lora", serif; }

h1, h2, h3, h4, h5 { text-align: inherit; }

h1 { color: #252529; font-weight: bold; margin-bottom: 1rem; }

h2 { font-size: 1.5rem; font-weight: bold; }

h3 { font-size: 1.3rem; }

p { margin: 0 0 1rem 0; }

.text-center { text-align: center; }

blockquote { border-left: 2rem solid #f7dd38; font-size: 1.85rem; margin: 2rem 4rem; padding: 0 1rem; font-weight: bold; font-style: italic; color: #3b3b40; }

.subtitle { opacity: .6; font-style: italic; font-size: 1.5rem; }

.massive { font-size: 6rem; margin: 1rem 0 0; }

.container-fluid { margin-right: auto; margin-left: auto; padding-right: 2rem; padding-left: 2rem; }

.row { box-sizing: border-box; display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex: 0 1 auto; -webkit-box-flex: 0; flex: 0 1 auto; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0; }

.row.reverse { -ms-flex-direction: row-reverse; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; flex-direction: row-reverse; }

.col.reverse { -ms-flex-direction: column-reverse; -webkit-box-orient: vertical; -webkit-box-direction: reverse; flex-direction: column-reverse; }

.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { box-sizing: border-box; -ms-flex: 0 0 auto; -webkit-box-flex: 0; flex: 0 0 auto; }

.col-xs { -webkit-flex-grow: 1; -ms-flex-positive: 1; -webkit-box-flex: 1; flex-grow: 1; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; }

.col-xs-1 { -ms-flex-preferred-size: 8.333%; flex-basis: 8.333%; max-width: 8.333%; }

.col-xs-2 { -ms-flex-preferred-size: 16.667%; flex-basis: 16.667%; max-width: 16.667%; }

.col-xs-3 { -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }

.col-xs-4 { -ms-flex-preferred-size: 33.333%; flex-basis: 33.333%; max-width: 33.333%; }

.col-xs-5 { -ms-flex-preferred-size: 41.667%; flex-basis: 41.667%; max-width: 41.667%; }

.col-xs-6 { -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }

.col-xs-7 { -ms-flex-preferred-size: 58.333%; flex-basis: 58.333%; max-width: 58.333%; }

.col-xs-8 { -ms-flex-preferred-size: 66.667%; flex-basis: 66.667%; max-width: 66.667%; }

.col-xs-9 { -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }

.col-xs-10 { -ms-flex-preferred-size: 83.333%; flex-basis: 83.333%; max-width: 83.333%; }

.col-xs-11 { -ms-flex-preferred-size: 91.667%; flex-basis: 91.667%; max-width: 91.667%; }

.col-xs-12 { -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }

.col-xs-offset-1 { margin-left: 8.333%; }

.col-xs-offset-2 { margin-left: 16.667%; }

.col-xs-offset-3 { margin-left: 25%; }

.col-xs-offset-4 { margin-left: 33.333%; }

.col-xs-offset-5 { margin-left: 41.667%; }

.col-xs-offset-6 { margin-left: 50%; }

.col-xs-offset-7 { margin-left: 58.333%; }

.col-xs-offset-8 { margin-left: 66.667%; }

.col-xs-offset-9 { margin-left: 75%; }

.col-xs-offset-10 { margin-left: 83.333%; }

.col-xs-offset-11 { margin-left: 91.667%; }

.start-xs { -ms-flex-pack: start; -webkit-box-pack: start; justify-content: flex-start; text-align: start; }

.center-xs { -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; }

.end-xs { -ms-flex-pack: end; -webkit-box-pack: end; justify-content: flex-end; text-align: end; }

.top-xs { -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; }

.middle-xs { -ms-flex-align: center; -webkit-box-align: center; align-items: center; }

.bottom-xs { -ms-flex-align: end; -webkit-box-align: end; align-items: flex-end; }

.around-xs { -ms-flex-pack: distribute; justify-content: space-around; }

.between-xs { -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; }

.first-xs { -ms-flex-order: -1; -webkit-box-ordinal-group: 0; order: -1; }

.last-xs { -ms-flex-order: 1; -webkit-box-ordinal-group: 2; order: 1; }

@media only screen and (min-width: 768px) { .container { width: 46rem; }
  .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { box-sizing: border-box; -ms-flex: 0 0 auto; -webkit-box-flex: 0; flex: 0 0 auto; }
  .col-sm { -webkit-flex-grow: 1; -ms-flex-positive: 1; -webkit-box-flex: 1; flex-grow: 1; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; }
  .col-sm-1 { -ms-flex-preferred-size: 8.333%; flex-basis: 8.333%; max-width: 8.333%; }
  .col-sm-2 { -ms-flex-preferred-size: 16.667%; flex-basis: 16.667%; max-width: 16.667%; }
  .col-sm-3 { -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }
  .col-sm-4 { -ms-flex-preferred-size: 33.333%; flex-basis: 33.333%; max-width: 33.333%; }
  .col-sm-5 { -ms-flex-preferred-size: 41.667%; flex-basis: 41.667%; max-width: 41.667%; }
  .col-sm-6 { -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }
  .col-sm-7 { -ms-flex-preferred-size: 58.333%; flex-basis: 58.333%; max-width: 58.333%; }
  .col-sm-8 { -ms-flex-preferred-size: 66.667%; flex-basis: 66.667%; max-width: 66.667%; }
  .col-sm-9 { -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }
  .col-sm-10 { -ms-flex-preferred-size: 83.333%; flex-basis: 83.333%; max-width: 83.333%; }
  .col-sm-11 { -ms-flex-preferred-size: 91.667%; flex-basis: 91.667%; max-width: 91.667%; }
  .col-sm-12 { -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }
  .col-sm-offset-1 { margin-left: 8.333%; }
  .col-sm-offset-2 { margin-left: 16.667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.333%; }
  .col-sm-offset-5 { margin-left: 41.667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.333%; }
  .col-sm-offset-8 { margin-left: 66.667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.333%; }
  .col-sm-offset-11 { margin-left: 91.667%; }
  .start-sm { -ms-flex-pack: start; -webkit-box-pack: start; justify-content: flex-start; text-align: start; }
  .center-sm { -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; text-align: center; }
  .end-sm { -ms-flex-pack: end; -webkit-box-pack: end; justify-content: flex-end; text-align: end; }
  .top-sm { -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; }
  .middle-sm { -ms-flex-align: center; -webkit-box-align: center; align-items: center; }
  .bottom-sm { -ms-flex-align: end; -webkit-box-align: end; align-items: flex-end; }
  .around-sm { -ms-flex-pack: distribute; justify-content: space-around; }
  .between-sm { -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; }
  .first-sm { -ms-flex-order: -1; -webkit-box-ordinal-group: 0; order: -1; }
  .last-sm { -ms-flex-order: 1; -webkit-box-ordinal-group: 2; order: 1; } }

@media only screen and (min-width: 960px) { .container { width: 61rem; }
  .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { box-sizing: border-box; -ms-flex: 0 0 auto; -webkit-box-flex: 0; flex: 0 0 auto; }
  .col-md { -webkit-flex-grow: 1; -ms-flex-positive: 1; -webkit-box-flex: 1; flex-grow: 1; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; }
  .col-md-1 { -ms-flex-preferred-size: 8.333%; flex-basis: 8.333%; max-width: 8.333%; }
  .col-md-2 { -ms-flex-preferred-size: 16.667%; flex-basis: 16.667%; max-width: 16.667%; }
  .col-md-3 { -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }
  .col-md-4 { -ms-flex-preferred-size: 33.333%; flex-basis: 33.333%; max-width: 33.333%; }
  .col-md-5 { -ms-flex-preferred-size: 41.667%; flex-basis: 41.667%; max-width: 41.667%; }
  .col-md-6 { -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }
  .col-md-7 { -ms-flex-preferred-size: 58.333%; flex-basis: 58.333%; max-width: 58.333%; }
  .col-md-8 { -ms-flex-preferred-size: 66.667%; flex-basis: 66.667%; max-width: 66.667%; }
  .col-md-9 { -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }
  .col-md-10 { -ms-flex-preferred-size: 83.333%; flex-basis: 83.333%; max-width: 83.333%; }
  .col-md-11 { -ms-flex-preferred-size: 91.667%; flex-basis: 91.667%; max-width: 91.667%; }
  .col-md-12 { -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }
  .col-md-offset-1 { margin-left: 8.333%; }
  .col-md-offset-2 { margin-left: 16.667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.333%; }
  .col-md-offset-5 { margin-left: 41.667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.333%; }
  .col-md-offset-8 { margin-left: 66.667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.333%; }
  .col-md-offset-11 { margin-left: 91.667%; }
  .start-md { -ms-flex-pack: start; -webkit-box-pack: start; justify-content: flex-start; text-align: start; }
  .center-md { -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; text-align: center; }
  .end-md { -ms-flex-pack: end; -webkit-box-pack: end; justify-content: flex-end; text-align: end; }
  .top-md { -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; }
  .middle-md { -ms-flex-align: center; -webkit-box-align: center; align-items: center; }
  .bottom-md { -ms-flex-align: end; -webkit-box-align: end; align-items: flex-end; }
  .around-md { -ms-flex-pack: distribute; justify-content: space-around; }
  .between-md { -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; }
  .first-md { -ms-flex-order: -1; -webkit-box-ordinal-group: 0; order: -1; }
  .last-md { -ms-flex-order: 1; -webkit-box-ordinal-group: 2; order: 1; } }

@media only screen and (min-width: 1024px) { .container { width: 71rem; }
  .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { box-sizing: border-box; -ms-flex: 0 0 auto; -webkit-box-flex: 0; flex: 0 0 auto; }
  .col-lg { -webkit-flex-grow: 1; -ms-flex-positive: 1; -webkit-box-flex: 1; flex-grow: 1; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; }
  .col-lg-1 { -ms-flex-preferred-size: 8.333%; flex-basis: 8.333%; max-width: 8.333%; }
  .col-lg-2 { -ms-flex-preferred-size: 16.667%; flex-basis: 16.667%; max-width: 16.667%; }
  .col-lg-3 { -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }
  .col-lg-4 { -ms-flex-preferred-size: 33.333%; flex-basis: 33.333%; max-width: 33.333%; }
  .col-lg-5 { -ms-flex-preferred-size: 41.667%; flex-basis: 41.667%; max-width: 41.667%; }
  .col-lg-6 { -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }
  .col-lg-7 { -ms-flex-preferred-size: 58.333%; flex-basis: 58.333%; max-width: 58.333%; }
  .col-lg-8 { -ms-flex-preferred-size: 66.667%; flex-basis: 66.667%; max-width: 66.667%; }
  .col-lg-9 { -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }
  .col-lg-10 { -ms-flex-preferred-size: 83.333%; flex-basis: 83.333%; max-width: 83.333%; }
  .col-lg-11 { -ms-flex-preferred-size: 91.667%; flex-basis: 91.667%; max-width: 91.667%; }
  .col-lg-12 { -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }
  .col-lg-offset-1 { margin-left: 8.333%; }
  .col-lg-offset-2 { margin-left: 16.667%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-4 { margin-left: 33.333%; }
  .col-lg-offset-5 { margin-left: 41.667%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-7 { margin-left: 58.333%; }
  .col-lg-offset-8 { margin-left: 66.667%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-10 { margin-left: 83.333%; }
  .col-lg-offset-11 { margin-left: 91.667%; }
  .start-lg { -ms-flex-pack: start; -webkit-box-pack: start; justify-content: flex-start; text-align: start; }
  .center-lg { -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; text-align: center; }
  .end-lg { -ms-flex-pack: end; -webkit-box-pack: end; justify-content: flex-end; text-align: end; }
  .top-lg { -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; }
  .middle-lg { -ms-flex-align: center; -webkit-box-align: center; align-items: center; }
  .bottom-lg { -ms-flex-align: end; -webkit-box-align: end; align-items: flex-end; }
  .around-lg { -ms-flex-pack: distribute; justify-content: space-around; }
  .between-lg { -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; }
  .first-lg { -ms-flex-order: -1; -webkit-box-ordinal-group: 0; order: -1; }
  .last-lg { -ms-flex-order: 1; -webkit-box-ordinal-group: 2; order: 1; } }

.flex-container { display: flex; flex-direction: column; align-items: baseline; }

.flex-middle { justify-content: center; }

.flex-center { align-items: center; }

.flex-middle { justify-content: center; }

.flex-end { align-self: flex-end; }

.flex-start { align-self: flex-start; }

.button { text-align: center; font-size: 1rem; padding: 0.7rem; border-radius: 2rem; font-weight: bold; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; -ms-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s; position: relative; }

.button:hover, .button:focus { cursor: pointer; transform: scale(1.06); }

.button--yellow { color: #252529; background: #f7dd38; box-shadow: 0 0 0 0 #f0c811; }

.button--yellow:hover, .button--yellow:focus { box-shadow: 0 3px 0 0 #f0c811; }

.button--black { color: #252529; border: 2px solid #252529; }

.button--black:hover, .button--black:focus { background: #f7dd38; color: #252529; border-color: #f7dd38; box-shadow: 0 3px 0 0 #2e2e33; }

.button--blue { color: #fcfcfd; background: #5bcaeb; box-shadow: 0 0 0 0 #189fc8; }

.button--blue:hover, .button--blue:focus { box-shadow: 0 3px 0 0 #189fc8; }

a.button:after { display: none; }

.button--menu { padding: 0.3rem 0.7rem; }

.homepage-hero { width: 100%; }

.hero-yellow { background: #f7dd38; color: #252529; height: 100%; }

.hero-left { text-align: right; padding: 5rem 3rem; font-size: 1.75rem; }

.hero-left h1 { font-weight: bold; font-size: 4rem; }

.hero-right { padding: 5rem 3rem 1rem; }

.wrapper { position: relative; top: 50px; }

.block { padding: 0 20px; }

.block-copy { max-width: 35em; }

.row--dark { background: #252529; color: #fcfcfd; }

.row--dark h1, .row--dark h2, .row--dark h3, .row--dark h4, .row--dark h5, .row--dark h6 { color: #ededf2; }

.endbar { height: 2rem; background: #f7dd38; }

.endbar-right { width: 75%; align-self: flex-end; }

.endbar-full { width: 100%; }

.image__border { border-width: 1rem; border-style: solid; border-radius: 50%; }

.image__border--yellow { border-color: #f7dd38; background: #f7dd38; }

.image--medium { max-width: 500px; }

.image--small { max-width: 200px; }

.blockquote--twitter { font-size: 1.45rem; }

.margin--l { margin-top: 3rem; margin-bottom: 3rem; }

.margin--l-top { margin-top: 3rem; }

.margin--md { margin-top: 2rem; margin-bottom: 3rem; }

.margin--md-top { margin-top: 2rem; }

.margin--l-bottom { margin-bottom: 3rem; }

.margin--sm { margin-top: 1rem; margin-bottom: 2rem; }

.padding--sm { padding-top: 1rem; padding-bottom: 2rem; }

.padding--sm-top { padding-top: 1rem; }

.padding--md { padding-top: 2rem; padding-bottom: 3rem; }

.padding--md-top { padding-top: 2rem; }

.padding--l { padding-top: 3rem; padding-bottom: 3rem; }

.padding--l-top { padding-top: 3rem; }

.row-end { margin-bottom: 4rem; }

.ck_form.ck_naked { /* divider image */ background: transparent; line-height: 1.5em; color: #252529; font-size: 16px; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; clear: both; margin: 20px 0px; text-align: center; }

.ck_form.ck_naked p { padding: 0px; }

.ck_form, .ck_form * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.ck_form.ck_naked .ck_form_fields { width: 100%; float: left; padding: 1.5rem 0; }

/* Form fields */
.ck_errorArea { display: none; /* temporary */ }

#ck_success_msg { padding: 10px 10px 0px; border: solid 1px #ddd; background: #eee; }

.ck_form.ck_naked input[type="text"], .ck_form.ck_naked input[type="email"] { font-size: 18px; padding: 10px 8px; width: 33%; border: 1px solid #d6d6d6; /* stroke */ background-color: #fcfcfd; /* layer fill content */ margin-bottom: 5px; padding-left: 0.75rem; border-radius: 2rem; height: auto; float: left; margin: 0px; margin-right: 2%; height: 42px; }

.ck_form.ck_naked input[type="text"] { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.ck_form.ck_naked input[type="email"] { border-bottom-left-radius: 0; border-top-left-radius: 0; }

.ck_form input[type="text"]:focus, .ck_form input[type="email"]:focus { outline: none; border-color: #aaa; transform: scale(1.045); }

.ck_form.ck_naked .ck_subscribe_button { width: 100%; margin: 0px; padding: 9px 0px; cursor: pointer; border: none; width: 30%; float: left; }

.ck_converted_content { display: none; padding: 5%; background: #fcfcfd; }

/* max width 500 */
.ck_form.ck_naked.width500 .ck_subscribe_button { width: 100%; float: none; margin-top: 5px; }

.ck_form.ck_naked.width500 input[type="text"], .ck_form.ck_naked.width500 input[type="email"] { width: 48%; }

.ck_form.ck_naked.width500 input[type="email"] { margin-right: 0px; width: 50%; }

/* max width 400 */
.ck_form.ck_naked.width400 .ck_subscribe_button, .ck_form.ck_naked.width400 input[type="text"], .ck_form.ck_naked.width400 input[type="email"] { width: 100%; float: none; margin-top: 5px; }

.ck_form.ck_naked.width400 input[type="text"], .ck_form.ck_naked.width400 input[type="email"] { border-radius: 2rem; }

.ck_slide_up, .ck_modal, .ck_slide_up .ck_naked, .ck_modal .ck_naked { min-width: 400px; }

.page .ck_form.ck_naked { margin: 50px auto; max-width: 700px; }

/* v6 */
.ck_slide_up.ck_form_v6, .ck_modal.ck_form_v6, .ck_slide_up.ck_form_v6 .ck_naked, .ck_modal.ck_form_v6 .ck_naked { min-width: 0 !important; }

.ck_form_v6 #ck_success_msg { padding: 0px 10px; }

@media all and (max-width: 403px) { .ck_form_v6.ck_modal .ck_naked { padding-top: 30px; } }

@media all and (max-width: 499px) { .ck_form_v6.ck_modal .ck_naked + .ck_close_link { color: #fcfcfd; top: 10px; } }

.ck_form_v6.ck_slide_up .ck_naked + .ck_close_link { right: 10px; top: -5px; }

@media all and (min-width: 600px) { .ck_form_v6.ck_slide_up .ck_naked + .ck_close_link { right: 35px; } }

@media screen and (max-width: 960px) { .endbar-right { width: 84%; }
  .hero-left, .hero-right { padding: 1rem; }
  .hero-left h1 { font-size: 3.2rem; }
  .massive { font-size: 4rem; }
  blockquote { margin: 2rem 1rem; }
  .margin--big { margin-top: 1rem; margin-bottom: 4rem; }
  .flex-end { align-self: center; } }

@media screen and (max-width: 768px) { .massive { font-size: 3.2rem; }
  .margin--big { margin-bottom: 2rem; }
  .endbar-right { width: 100%; }
  .row { display: flex; align-items: center; }
  html { font-size: 125%; } }

@media screen and (max-width: 480px) { .margin--big { margin-bottom: 1rem; }
  .massive { font-size: 1.6rem; } }
