
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@font-face {
    font-family: 'butler';
    src: url('/font/butler_bold-webfont.woff2') format('woff2'),
         url('/font/butler_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'butler';
    src: url('/font/butler_regular-webfont.woff2') format('woff2'),
         url('/font/butler_regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}

$sans: "Source Sans Pro", sans-serif;
$serif: "butler", serif;