// Header

.header {
  background: $black;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
}
.header__logo {
  flex-grow:1;
}
.logo__image {
  width:7rem;
}