// Homepage

.homepage-hero {
    width: 100%;
}

.hero {
    &-yellow {
        background: $yellow;
        color: $black;
        height: 100%;
    }

    &-left {
        text-align: right;
        padding: 1rem;
        font-size: 1.75rem;
    }

    &-right {
        padding: 1rem;
    }

    @include screen--l {
        &-left {
            padding: 5rem 0;
        }

        &-right {
            padding: 5rem 0 1rem;
        }
    }
}