@media screen and (max-width: $grid-breakpoint-l) {
    blockquote {
        margin: 2rem 1rem;
    }

    // Margins
    .margin--big {
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    .flex-end {
        align-self: center;
    }
}

@media screen and (max-width: $grid-breakpoint-m) {

    // Margins
    .margin--big {
        margin-bottom: 2rem;
    }

    .row {
        display: flex;
        align-items: center;
    }

    html {
        font-size: 125%;
    }
}

@media screen and (max-width: $grid-breakpoint-s) {
    .margin--big {
        margin-bottom: 1rem;
    }

}