// Media Queries

@media screen and (max-width: 75em) {
	.hero-left, .hero-right {
		padding: 1rem;
	}
	.hero-left h1 {
		font-size:3rem;
	}
	.massive {
		font-size:2rem;
	}
	blockquote {
		margin: 2rem 1rem;
	}
	
	// Margins
	.margin--big {
		margin-top: 1rem;
		margin-bottom: 4rem;
	}
}