.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: $lessblack;
    color: $white;
    padding: .75rem;

    & li {
        padding-left: .5rem;
    }

    & li:before {
        display: none;
    }

    & a {
        font-weight: 400;
        color: $white;
    }

    & a:hover {
        background: $lightgrey;
    }

    & a:after {
        display: none;
    }

    &--visible {
        display: none;

        @include screen--l {
            display: block;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;

        &__image {
            width: 7rem;
        }
    }

    &__nav {
        margin-top: 2rem;
    }

    &__section {
        margin: 1rem 0;
    }
}

.section {
    &__toggle {
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;
        position: relative;

        @include transition($fast);

        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 100%;
            z-index: -1;
            left: 0;
            background: $yellow;

            @include transition($ease);
        }

        &:hover {
            color: $black;

            &:after {
                width: 100%;
            }
        }
    }

    &__toggled {
        background: $yellow;
        color: $black;
    }

    &__hidden {
        display: none;
        overflow: hidden;
        position: relative;
    }
}