.margin {
    &--sm {
        margin-top: 1rem;
        margin-bottom: 2rem;
        &-top {
            margin-top: 1rem;
        }
        &-bottom {
            margin-bottom: 2rem;
        }
    }
    &--md {
        margin-top: 2rem;
        margin-bottom: 3rem;
        &-top {
            margin-top: 2rem;
        }
        &-bottom {
            margin-bottom: 3rem;
        }
    }
    &--l {
        margin-top: 3rem;
        margin-bottom: 3rem;
        &-top {
            margin-top: 3rem;
        }
        &-bottom {
            margin-bottom: 3rem;
        }
    }    
}

.padding {
    &--sm {
        padding-top: 1rem;
        padding-bottom: 2rem;
        &-top {
            padding-top: 1rem;
        }
        &-bottom {
            padding-bottom: 2rem;
        }
    }
    &--md {
        padding-top: 2rem;
        padding-bottom: 3rem;
        &-top {
            padding-top: 2rem;
        }
        &-bottom {
            padding-bottom: 3rem;
        }
    }
    &--l {
        padding-top: 3rem;
        padding-bottom: 3rem;
        &-top {
            padding-top: 3rem;
        }
        &-bottom {
            padding-bottom: 3rem;
        }
    }
}

.row-end {
    margin-bottom: 4rem;
}