// Main wrapper that contains both sidebar and content
.wrapper {
	display: flex;
    flex-direction: row;
}

.content-wrapper {
	position: relative;
	// Was top:50 for the header, but removed the header for the launch. Header will display on mobile.
    top: 0;
}

@media screen and (min-width: $grid-breakpoint-l) {
  .content-wrapper {
  	margin-left: 250px;
  }
}